@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<!--<h3>@ViewData["Message"]</h3> -->
<p>
This New Year’s Eve, Mondrian South Beach is THE incomparable Miami party destination for South Beach’s high-flying revelers. This ultra-luxury hotel presents a brilliantly swanky NYE party that will be going full throttle with an intoxicating atmosphere and South Beach’s renowned extravagance. This New Year’s at Mondrian South Beach is sure to be the talk and toast of the town.</p>

<p>Celebrate this New Year’s Eve in lavish Miami style at the upscale Mondrian South Beach Hotel. Live the privileged high life while enjoying a 4 hour premium open bar in sensational style at this sleek and sexy tropical oasis. At the Mondrian, Miami’s best will mix and mingle while the moon’s reflection shimmers on the Biscayne Bay beneath a breathtaking view of the Miami skyline. Festive NYE party favors, compliments of Mondrian, will delight the beautiful guests while all through the night, live electrifying sets of Top 40, Hip Hop, House, and Mash Ups performed one of the world’s most renowned DJs will enchant the crowd and set the party aflame. Enjoy a breathtaking fireworks show on the bay as you ring in the New Year in style with an exhilarating live countdown and complimentary champagne toast. With a host of exclusive VIP options besides, the Mondrian South Beach is sure to be the hottest ticket to Miami’s most coveted NYE celebration.</p>

<p>Situated on the spectacular waterfront of Biscayne Bay, Mondrian South Beach radiates all the sultriness, intensity, and energetic vibe of Miami Beach. Visionary Dutch designer Marcel Wanders’ whimsical and innovative design for the hotel lounge is an homage to “Sleeping Beauty’s Castle” whose fantastical, pristine aesthetic will make your New Year’s feel like a fairytale come true. In the soaring lobby, floor-to-ceiling windows frames the stunning waterfront views while the “floating staircase,” a visionary architectural masterpiece, dazzles the eye. The enchantment of the Mondrian continues throughout its various luxurious destinations, including a signature South Beach spa, Agua, haute-stylish accommodations, an ultra-opulent, crimson and saffron toned Sunset Lounge, and more.
For an enchanting New Year’s - compliments of South Beach’s most magical location - let yourself be swept away by the Mondrian South Beach. This upscale hotel and swanky nightlife hotspot offers breathtaking views of the Biscayne Bay and world class party luxuries that will rival your most daring NYE party fantasies.
</p>
