@{
	Layout = "_NoBody";
}

<div class="row">
	
	<div class="col-md-4"></div>
	<div class="col-md-4">
		
		<form action="" method="POST" role="form">
			<legend>Please input your TICKET <br /> 10-digit number</legend>
		
			<div class="form-group">
				<input type="text" class="input-large" maxlength="10" placeholder="..." style="font-size: 1.5em; font-weight:500;">
			</div>
		
			<button type="submit" class="btn btn-primary">Look Up</button>
		</form>
		
	</div>
	<div class="col-md-4"></div>
</div>
