@model Visitor
@{
	Layout = "_NoBody";
}

<div class="row">
		<span class="myInfoText" style="font-size: 1.5em;"><strong>@Model.Name</strong>, welcome to GLOBAL EVENT.</span>
		<span class="myInfoText" style="font-size: 1.5em;">Your name tag is being printed right now.</span>
		<spam class="myInfoText" style="font-size: 1.5em;">Have a wonderful day!</spam>
</div>	

<div class="row">
	<button type="button" class="btn mybtn bgRed" style="margin-top: 30px; width: 150px;" onclick="window.open('/Home/Index','_self')">Finish Check In</button>
</div>