@model Visitor
@{
	Layout = "_NoBody";
}

<div class="row">
	
	<div class="col-md-4"></div>

	<div class="col-md-4">
		<form asp-action="AfterEdit" asp-controller="Visitor" method="POST" role="form">
			
			<legend>EDIT INFO FORM</legend>
			
			<div class="form-group" style="display: none;">
				<input asp-for="RegistrationNumber" value="@Model.RegistrationNumber" class="form-control" />
    		</div>

			<!--NAME-->
			<div class="form-group">
				<label asp-for="Name" class="control-label"></label>
				<div>
					<input asp-for="Name" class="form-control" />
					<span asp-validation-for="Name" class="text-danger"></span>
				</div>
    		</div>
			<!---->
			<!--LAST-->
			<div class="form-group">
				<label asp-for="Last" class="control-label"></label>
				<div>
					<input asp-for="Last" class="form-control" />
					<span asp-validation-for="Last" class="text-danger"></span>
				</div>
    		</div>
			<!---->
			<!--Occupation-->
			<div class="form-group">
				<label asp-for="Occupation" class="control-label"></label>
				<div>
					<input asp-for="Occupation" class="form-control" />
					<span asp-validation-for="Occupation" class="text-danger"></span>
				</div>
    		</div>
			<!---->
			<!--Company-->
			<div class="form-group">
				<label asp-for="Company" class="control-label"></label>
				<div>
					<input asp-for="Company" class="form-control" />
					<span asp-validation-for="Company" class="text-danger"></span>
				</div>
    		</div>
			<!---->

			<button type="submit" class="btn mybtn bgBase">Submit</button>
		</form>
	</div>

	<div class="col-md-4"></div>
</div>	

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}