@model Visitor
@{
	Layout = "_NoBody";
}

<div class="row">
	<span class="myInfoText">
			<strong>@Model.Name</strong>, you are registered! <br />
			Your registration code is below. <br >
			Please memorize, or write it down. You will need it later for Check In.<br />
			<span class="myInfoText" style="font-size: 2em; font-weight: 400;">
				@Model.RegistrationNumber 
			</span><br />
			Would you like to CHECK IN?
	</span>
</div>	

<div class="row">
	<button type="button" class="btn mybtn bgRed" style="margin-top: 30px; width: 150px;" onclick="window.open('/Home/Index','_self')">No, Thank You</button>
	
	<button type="button" class="btn mybtn bgBase" style="margin-top: 30px; width: 150px;" onclick="window.open('/Visitor/CheckIn','_self')">Yes, Please</button>

</div>