@{
	Layout = "_NoBody";
}

<div class="row">
	
	<div class="col-md-4"></div>
	<div class="col-md-4">
			<h4 style="margin-bottom: 20px;">Thank you! Order was added to the DB.</h4>
			<a href="/Home/Index">
				<button class="btn mybtn bgBro">
					Home Page
				</button>
			</a>
	</div>
	<div class="col-md-4"></div>

</div>