@{
	Layout = "_NoBody";
}

<div class="row">
	
	<div class="col-md-4"></div>
	<div class="col-md-4">
		
		<form>
				<fieldset style="vertical-align: top;">
					<label>Name<span class="redstar">*</span>
						<input class="form-control input" required type="text">

					<label>Last Name<span class="redstar">*</span>
						<input class="form-control input" required type="text">
					</label>

					<label>Email<span class="redstar">*</span>
						<input class="form-control input" required type="text">
					</label>

					<label>Phone #
						<input class="form-control input" required type="text">
					</label>

					<div class="input block">
						<button class="btn btn-primary inline" type="submit" style="border-radius: 0px; margin-top: 15px;">
							SEND
						</button>
					</div>
				</fieldset>
			</form>
	</div>
	<div class="col-md-4"></div>
</div>
