@{
    ViewData["Title"] = "Home Page";
	Layout = "_NoBody";
}
<div class="row" style="padding-top: 100px;">
    <div class="col-md-3"></div>
    <div class="col-md-3">
		<a href="/Home/CheckRegister">
			<button class="i-block">
				<div>
					Check-In
				</div>
				<div style="line-height: 25px;">or</div>
				<div>
					Register
				</div>
			</button>
		</a>
	</div>
    <div class="col-md-3">
		<a href="/Home/Contact">
			<button class="i-block">
				Admin Access
			</button>
		</a>
	</div>
    <div class="col-md-3"></div>
</div>
