@{
    ViewData["Title"] = "CheckIn or Register";
	Layout = "_NoBody";
}
<div class="row" style="padding-top: 100px;">
    <div class="col-md-2"></div>
	<div class="col-md-8">
		<div class="col-md-4">
			<a href="/Visitor/CheckIn">
				<button class="i-block"">
					Check-In
				</button>
			</a>
		</div>
		<div class="col-md-4">
			<a href="/Visitor/Register">
				<button class="i-block">
					Register
				</button>
			</a>
		</div>
		<div class="col-md-4">
			<a href="/Visitor/Buy">
				<button class="i-block">
					Buy Ticket
				</button>
			</a>
		</div>
	</div>
    <div class="col-md-2"></div>
</div>